<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #adb5bd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.jpg" alt="logo" width="40" height="40">
    </a>
    <a class="navbar-brand fw-bold" href="#">SNITCH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="container-fluid d-flex justify-content-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor" class="bi bi-door-open-fill"
          viewBox="0 0 16 16">
          <a type="button" *ngIf="hidden() == false" class="login" [routerLink]="['/login']">
            <path
              d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
          </a>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" fill="currentColor"
          class="bi bi-door-closed-fill" viewBox="0 0 16 16">
          <a type="button" *ngIf="hidden() == true" (click)="onLogout()" class="logout">
            <path
              d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
          </a>
        </svg>
      </form>
    </div>
  </div>
</nav>
<div>